# An√°lisis Exploratorio de Datos

## Cargo los datos

In [2]:
import pandas as pd

df = pd.read_csv("expectativa_de_vida.csv")
display(df)

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
0,0,Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,...,8.252500,52.312500,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250,Developing
1,1,Albania,75.15625,45.0625,0.6875,4.848750,193.259091,98.000000,53.3750,49.06875,...,5.945625,98.062500,0.10000,2119.726679,6.969116e+05,1.61875,1.70000,0.709875,12.13750,Developing
2,2,Algeria,73.61875,108.1875,20.3125,0.406667,236.185241,78.000000,1943.8750,48.74375,...,4.604000,91.875000,0.10000,2847.853392,2.164983e+07,6.09375,5.97500,0.694875,12.71250,Developing
3,3,Angola,49.01875,328.5625,83.7500,5.740667,102.100268,70.222222,3561.3125,18.01875,...,3.919333,47.687500,2.36875,1975.143045,1.014710e+07,6.19375,6.66875,0.458375,8.04375,Developing
4,4,Antigua and Barbuda,75.05625,127.5000,0.0000,7.949333,1001.585226,98.266667,0.0000,38.42500,...,4.791333,98.312500,0.12500,9759.305728,NaN,3.42500,3.37500,0.488625,8.84375,Developing
5,5,Argentina,75.15625,106.0000,10.1250,7.966667,773.038981,81.285714,2.0000,54.98125,...,6.912667,92.375000,0.10000,6998.575103,2.012120e+07,1.07500,0.95000,0.794125,16.50625,Developing
6,6,Armenia,73.40000,117.3750,1.0000,3.702667,131.007419,87.562500,274.2500,44.70625,...,4.861333,87.375000,0.10000,1999.986318,1.015165e+06,2.03750,2.11250,0.698375,11.78750,Developing
7,7,Australia,81.81250,63.1875,1.0000,10.155333,5332.226473,93.400000,103.9375,55.86250,...,8.836667,86.875000,0.10000,34637.565047,4.587010e+06,0.66875,0.62500,0.918125,20.03750,Developed
8,8,Austria,81.48125,65.7500,0.0000,12.236000,4928.439188,81.062500,77.2500,48.28750,...,4.715333,86.750000,0.10000,33827.476309,6.474880e+06,1.73125,1.93750,0.862375,15.38750,Developed
9,9,Azerbaijan,70.73125,115.1875,6.0625,0.992000,131.148747,59.214286,598.1875,43.84375,...,5.679333,82.312500,0.10000,3302.947807,2.157370e+06,2.90000,2.94375,0.702687,11.35000,Developing
10,10,Bahamas,74.28750,152.0625,0.0000,10.271333,0.000000,83.600000,0.0000,52.88125,...,6.706000,95.750000,0.11875,NaN,NaN,2.55000,2.51875,0.737938,12.42500,Developing
11,11,Bahrain,75.72500,65.3750,0.0000,1.934667,602.087140,98.125000,6.6875,51.65625,...,3.807333,98.062500,0.10000,11191.247421,NaN,6.10625,5.95000,0.807937,14.11250,Developing
12,12,Bangladesh,69.30000,141.3750,153.6250,0.010000,32.320972,77.615385,4649.9375,12.87500,...,2.854667,92.750000,0.10000,443.561481,4.298516e+07,13.77500,14.33125,0.517875,8.69375,Developing
13,13,Barbados,74.35625,77.6250,0.0000,8.206667,389.076995,84.066667,0.0000,45.97500,...,6.122000,89.937500,0.25625,12017.098529,NaN,3.95625,3.91875,0.770437,14.89375,Developing
14,14,Belarus,69.90625,218.7500,0.5625,13.497333,329.046455,88.937500,24.8125,54.74375,...,6.192000,92.187500,0.10000,3811.525348,6.371867e+06,2.21250,2.33750,0.743250,14.75000,Developing
15,15,Belgium,80.68125,70.1875,0.2500,11.042667,2392.432657,74.500000,81.5625,50.89375,...,5.962000,97.312500,0.10000,16915.306000,2.884043e+06,0.86250,0.85625,0.877750,16.78750,Developed
16,16,Belize,69.26875,155.5000,0.0000,6.252667,365.843490,94.750000,0.0000,37.67500,...,5.039333,95.187500,0.43125,3933.012175,1.703929e+05,3.55625,3.48750,0.693937,12.45625,Developing
17,17,Benin,57.56875,269.3750,25.0000,1.000000,43.991956,62.571429,1116.8750,19.61250,...,4.636000,67.937500,1.70625,561.167968,3.942979e+06,8.25000,8.13750,0.438063,8.85000,Developing
18,18,Bhutan,66.16250,230.2500,0.6875,0.278667,134.764070,94.125000,80.2500,17.58125,...,5.346000,93.875000,0.35625,1353.986946,4.925849e+05,17.21875,17.92500,0.183875,10.22500,Developing
19,19,Bolivia (Plurinational State of),67.70625,177.5000,10.7500,3.212000,0.000000,82.875000,7.6250,44.81875,...,5.626000,87.375000,0.15625,NaN,NaN,1.30000,1.18750,0.633750,13.96250,Developing
20,20,Bosnia and Herzegovina,75.96875,64.9375,0.0000,4.405333,215.457459,71.666667,319.1875,48.96250,...,8.742000,78.500000,0.10000,2245.026024,1.986993e+06,2.78125,2.75625,0.450375,12.22500,Developing
21,21,Botswana,56.05000,448.1250,2.0000,4.670000,334.266971,87.312500,237.8750,32.24375,...,5.510667,95.812500,16.52500,4498.285431,1.063867e+06,7.43750,7.81250,0.630375,12.13750,Developing
22,22,Brazil,73.38125,150.6875,68.2500,7.213333,390.695595,96.187500,95.3750,47.06250,...,8.019333,97.937500,0.10000,6143.161794,8.812807e+07,3.05000,3.01250,0.710187,14.16250,Developing
23,23,Brunei Darussalam,76.48750,67.0625,0.0000,0.378667,1276.879485,97.875000,7.3125,29.71875,...,2.820000,96.812500,0.10000,19744.808102,NaN,6.20000,5.67500,0.839375,14.10625,Developing
24,24,Bulgaria,72.85000,125.5000,0.9375,10.865333,350.745204,94.500000,1530.3125,54.50000,...,7.236000,94.000000,0.10000,4938.981821,5.290924e+06,2.13125,2.15625,0.754625,13.72500,Developed
25,25,Burkina Faso,55.64375,252.5000,44.7500,4.241333,52.045581,81.100000,5091.7500,15.50000,...,6.038000,77.312500,1.83750,410.372034,6.143695e+06,7.41875,6.98125,0.229687,5.40625,Developing
26,26,Burundi,55.53750,291.5625,23.2500,4.103333,15.335498,93.333333,1349.5000,15.31250,...,7.089333,85.750000,3.08750,137.815321,3.915447e+06,8.01875,8.01250,0.327875,7.48125,Developing
27,27,Cabo Verde,72.51875,116.1875,0.0000,3.448000,188.632987,80.642857,0.1250,24.37500,...,4.755333,79.000000,0.53125,2023.541039,2.926002e+05,8.01250,7.97500,0.570000,12.20000,Developing
28,28,Cambodia,64.34375,196.3750,16.7500,1.486000,33.796561,79.600000,1880.8125,15.36250,...,5.740667,72.062500,1.02500,466.196878,7.145967e+06,10.14375,10.88125,0.491938,9.87500,Developing
29,29,Cameroon,54.01875,294.8750,54.9375,4.141333,44.462300,76.818182,2979.2500,23.61875,...,4.719333,69.437500,6.21250,781.016004,9.967292e+06,6.55000,6.60625,0.470000,8.90625,Developing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,162,Sudan,61.82500,240.3125,64.6250,1.458000,97.698443,72.363636,3108.0000,NaN,...,5.695333,72.375000,0.25000,1192.797953,1.804652e+07,NaN,NaN,0.441000,6.37500,Developing
154,163,Suriname,70.08125,166.0000,0.0000,4.984000,508.494033,85.272727,0.0000,50.15625,...,6.662667,82.562500,0.76250,4781.216822,1.909166e+05,3.51250,3.45625,0.481063,11.82500,Developing
155,164,Swaziland,51.32500,339.0000,2.6250,4.463333,278.099713,76.000000,49.1250,25.50000,...,7.308667,83.750000,32.94375,2165.090838,4.573031e+05,6.47500,6.63125,0.515688,10.35000,Developing
156,165,Sweden,82.51875,59.1875,0.0000,6.926667,4438.163154,59.200000,18.9375,56.25000,...,9.932667,98.312500,0.10000,29334.990639,5.514868e+06,1.35000,1.30625,0.893125,15.86875,Developed
157,166,Switzerland,82.33125,55.7500,0.0000,10.338000,9801.810377,NaN,397.5000,51.43750,...,6.087333,94.562500,0.10000,57362.874601,5.913242e+06,0.53750,0.39375,0.911062,15.39375,Developed
158,167,Syrian Arab Republic,70.85000,139.6250,8.0000,0.804667,39.299486,64.125000,295.6875,47.31250,...,3.946667,48.437500,0.10000,1087.435774,6.741445e+06,6.45000,6.25625,0.618062,10.98125,Developing
159,168,Tajikistan,66.65625,177.5625,10.6875,0.330667,17.277192,84.428571,208.1875,33.11250,...,5.648000,89.250000,0.25625,335.841725,4.751355e+06,3.80625,3.85000,0.583812,10.68125,Developing
160,169,Thailand,73.08125,160.3750,12.1250,6.131333,401.259963,97.000000,4311.9375,21.59375,...,3.757333,98.187500,0.38750,3494.781702,3.117051e+07,8.54375,8.70000,0.694688,12.55000,Developing
161,170,The former Yugoslav republic of Macedonia,74.11250,60.8125,0.0000,1.858667,0.000000,83.545455,74.7500,52.90625,...,7.536000,94.875000,0.10000,NaN,NaN,2.43125,2.45625,0.455750,12.38125,Developing
162,171,Timor-Leste,64.75625,170.3750,2.3750,0.235333,21.187523,76.000000,85.0625,14.55000,...,1.646667,64.214286,0.10000,551.710649,4.601956e+05,10.52500,11.69375,0.517625,10.70000,Developing
163,172,Togo,56.66250,311.3125,14.1875,0.947333,23.705604,76.625000,532.5000,17.99375,...,5.243333,74.312500,3.86250,317.204092,3.722046e+06,7.86875,7.73750,0.445937,10.65000,Developing
164,173,Tonga,72.53125,129.6250,0.0000,1.167333,323.809343,75.500000,0.2500,62.94375,...,5.206000,70.312500,0.10000,1981.555186,2.658981e+04,0.10000,0.10000,0.698813,14.21875,Developing
165,174,Trinidad and Tobago,71.06875,163.3750,0.0000,6.044667,559.314872,54.928571,0.0000,37.73125,...,5.199333,66.500000,0.62500,7741.748090,7.761331e+05,6.13750,6.50625,0.753375,12.33125,Developing
166,175,Tunisia,74.35625,18.7500,3.2500,1.310667,366.741260,96.750000,33.1875,48.25625,...,6.052667,97.687500,0.10000,3044.081488,3.274493e+06,6.40625,6.33750,0.692625,14.05625,Developing
167,176,Turkey,73.91250,98.3750,26.9375,1.421333,253.417178,87.062500,5272.9375,56.41250,...,5.618000,80.750000,0.10000,3983.917722,3.350135e+07,5.01250,4.85000,0.703313,12.67500,Developing
168,177,Turkmenistan,64.61875,214.8125,6.5625,2.654667,187.781988,97.285714,15.1250,38.11875,...,2.828667,96.375000,0.10000,2511.611540,2.635550e+06,3.33750,3.36250,0.211625,9.83125,Developing
169,179,Uganda,55.70625,300.1875,89.6875,8.050667,47.692108,63.428571,12394.6250,15.52500,...,8.542000,64.875000,7.65000,421.048496,1.554059e+07,6.26250,6.25625,0.445312,10.59375,Developing
170,180,Ukraine,69.93750,205.7500,5.0625,7.369333,169.427330,54.625000,5395.1875,50.89375,...,6.777333,70.000000,0.53750,1577.293329,1.000493e+07,2.57500,2.67500,0.716563,14.60625,Developing
171,181,United Arab Emirates,75.70000,67.0625,1.0000,1.750000,1886.731590,93.875000,75.6250,53.80625,...,3.036667,94.625000,0.10000,22110.366986,NaN,5.18125,4.96875,0.819563,12.81250,Developing
172,182,United Kingdom of Great Britain and Northern I...,80.79375,70.3750,3.6250,11.131250,0.000000,NaN,715.7500,55.38750,...,8.534000,92.875000,0.10000,NaN,NaN,0.75000,0.50625,NaN,NaN,Developed
173,183,United Republic of Tanzania,56.00625,304.4375,95.2500,3.582667,0.000000,73.500000,3348.5625,17.31875,...,4.701333,74.687500,7.27500,NaN,NaN,7.42500,7.35625,NaN,NaN,Developing
174,184,United States of America,78.06250,58.1875,26.1875,8.579333,0.000000,81.375000,130.6250,58.45000,...,15.863333,95.125000,0.10000,NaN,NaN,0.73125,0.60625,NaN,NaN,Developed
175,185,Uruguay,76.07500,119.9375,0.5625,6.172667,621.838919,94.312500,0.0000,52.92500,...,8.750000,89.125000,0.10000,7192.584875,2.396771e+06,1.60000,1.54375,0.765625,15.23125,Developing
176,186,Uzbekistan,68.03125,184.8125,21.9375,1.608667,44.373450,95.642857,208.4375,34.80625,...,5.638000,98.437500,0.20625,651.092359,9.036317e+05,3.14375,3.17500,0.603000,11.64375,Developing
177,187,Vanuatu,71.38750,137.8750,0.0000,0.806667,282.325746,56.125000,20.8750,44.25625,...,3.928667,59.062500,0.10000,2000.245518,1.230962e+05,1.56875,1.49375,0.367500,10.56875,Developing
178,188,Venezuela (Bolivarian Republic of),73.38750,163.0000,9.3750,7.420000,0.000000,66.250000,165.0000,54.48750,...,4.998667,68.500000,0.10000,NaN,NaN,1.65000,1.56250,0.726812,12.78750,Developing
179,189,Viet Nam,74.77500,126.5625,29.1875,3.087333,0.000000,87.538462,4232.9375,11.18750,...,5.977333,91.750000,0.14375,NaN,NaN,14.92500,15.62500,0.627063,11.51250,Developing
180,190,Yemen,63.86250,211.8125,39.3750,0.047333,0.000000,55.687500,2761.1875,33.48750,...,5.005333,72.625000,0.10000,NaN,NaN,13.83125,13.75000,0.475500,8.50625,Developing
181,191,Zambia,53.90625,354.3125,33.4375,2.239333,89.650407,69.818182,6563.8125,17.45000,...,5.824000,74.250000,11.93125,811.811841,6.260246e+06,6.88125,6.76250,0.498437,11.21250,Developing
182,192,Zimbabwe,50.48750,462.3750,26.5625,4.482000,20.364271,70.562500,923.0000,25.13750,...,6.158667,75.187500,23.26250,410.980194,8.021343e+06,7.01250,6.98750,0.439125,9.82500,Developing

# Estudio de variables

### Graficos generales

In [3]:
df = df.rename(columns={'HIV/AIDS': "HIV-AIDS"})
columnas_f = df.columns

for c in columnas_f:
    fig = sns.displot(df, x=c, bins=40)
    fig.figure.savefig(str(c) + ".png")

NameError: name 'sns' is not defined

### Diphtheria

In [69]:

df2_diphteria= df[df["Diphtheria"].isnull()] # No hay nulos


df[df["Diphtheria"] < 30] # Veamos los valores mas bajos

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
32,32,Chad,50.38750,227.750,44.875,0.411333,32.277320,29.875,4687.7500,16.31875,...,4.379333,26.8125,4.3375,484.791694,4.114092e+06,7.14375,7.04375,0.316625,6.0875,Developing
52,54,Equatorial Guinea,55.31250,279.375,3.000,7.342000,552.671538,9.000,294.5000,17.85625,...,2.929333,29.9375,5.1375,7902.410789,5.567653e+05,6.65625,6.60000,0.536188,8.3250,Developing
148,157,Somalia,53.31875,316.750,49.875,0.010000,0.000000,42.000,5494.0625,18.68750,...,NaN,29.3125,0.8375,297.473345,NaN,7.26875,7.08125,NaN,NaN,Developing

### Alcohol

In [73]:

df2_Alcohol= df[df["Alcohol"].isnull()] 
display(df2_Alcohol)
display(df[df["Alcohol"] < 0.5]) # Veamos los valores mas bajos

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
150,159,South Sudan,53.875,346.3125,27.75,NaN,8.241077,31.0,315.75,NaN,...,2.71,47.0,3.69375,1092.233631,3750827.125,NaN,NaN,0.131688,1.53125,Developing

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
75,77,Indonesia,67.55625,166.5625,151.1875,0.068667,83.768316,73.562500,16244.9375,19.95625,...,2.663333,72.375000,0.20000,1669.116783,1.165553e+08,3.41875,3.94375,0.641437,11.61250,Developing
121,127,Pakistan,64.50000,154.0000,367.9375,0.026000,26.120391,67.307692,3842.3125,18.31250,...,2.904000,70.875000,0.10000,666.111052,6.902796e+07,15.08750,15.51250,0.500875,6.71875,Developing
12,12,Bangladesh,69.30000,141.3750,153.6250,0.010000,32.320972,77.615385,4649.9375,12.87500,...,2.854667,92.750000,0.10000,443.561481,4.298516e+07,13.77500,14.33125,0.517875,8.69375,Developing
111,115,Myanmar,64.20000,154.3125,56.6250,0.351333,12.824564,65.461538,914.5000,17.12500,...,2.012667,72.375000,0.47500,616.184357,2.601570e+07,13.13125,13.42500,0.488250,8.32500,Developing
2,2,Algeria,73.61875,108.1875,20.3125,0.406667,236.185241,78.000000,1943.8750,48.74375,...,4.604000,91.875000,0.10000,2847.853392,2.164983e+07,6.09375,5.97500,0.694875,12.71250,Developing
77,79,Iraq,70.35625,136.7500,31.1875,0.134667,120.663690,64.875000,3454.3750,48.59375,...,4.435833,65.750000,0.10000,3542.557537,1.857284e+07,5.40000,5.16250,0.633500,9.90625,Developing
113,118,Nepal,66.48125,147.2500,29.1250,0.190000,40.162064,65.384615,4663.5625,15.17500,...,5.889333,73.687500,0.15625,395.328468,1.463376e+07,17.13125,17.66875,0.494375,10.43125,Developing
99,101,Malaysia,73.75625,118.5625,3.3125,0.490667,248.885028,96.000000,1453.1250,29.16875,...,3.748667,96.437500,0.10000,4904.938992,1.152916e+07,8.61250,8.40625,0.749125,12.56250,Developing
117,122,Niger,56.98125,232.4375,52.8125,0.091333,19.099369,60.571429,15467.1250,16.36250,...,6.577333,52.312500,1.16250,259.782441,1.124072e+07,9.02500,8.91250,0.298125,4.01875,Developing
0,0,Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,...,8.252500,52.312500,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250,Developing
101,103,Mali,54.93750,202.1250,55.9375,0.438000,48.981177,67.153846,823.3125,17.21250,...,6.522667,67.000000,1.82500,530.512170,5.781493e+06,7.07500,6.35000,0.365187,6.43125,Developing
140,149,Senegal,62.56875,174.1875,22.3125,0.309333,21.486426,86.416667,3248.7500,18.44375,...,4.938000,78.312500,0.53125,274.611166,5.413843e+06,8.09375,7.98750,0.432563,7.12500,Developing
159,168,Tajikistan,66.65625,177.5625,10.6875,0.330667,17.277192,84.428571,208.1875,33.11250,...,5.648000,89.250000,0.25625,335.841725,4.751355e+06,3.80625,3.85000,0.583812,10.68125,Developing
67,69,Guinea,56.01250,259.8750,30.8125,0.164667,15.891283,58.666667,1522.0000,17.46875,...,4.009333,47.875000,2.19375,279.464798,4.252799e+06,7.64375,7.62500,0.364750,7.17500,Developing
32,32,Chad,50.38750,227.7500,44.8750,0.411333,32.277320,29.875000,4687.7500,16.31875,...,4.379333,26.812500,4.33750,484.791694,4.114092e+06,7.14375,7.04375,0.316625,6.08750,Developing
103,106,Mauritania,62.80000,159.9375,7.8125,0.013333,31.703147,57.636364,815.9375,22.47500,...,3.935333,60.125000,1.18750,635.049609,1.262286e+06,6.48125,6.81875,0.473062,7.31875,Developing
36,36,Comoros,61.58125,240.9375,1.6875,0.134667,47.731458,76.461538,62.6250,18.25625,...,4.832000,66.937500,0.28125,630.384334,5.322007e+05,7.27500,7.16250,0.324625,9.95625,Developing
18,18,Bhutan,66.16250,230.2500,0.6875,0.278667,134.764070,94.125000,80.2500,17.58125,...,5.346000,93.875000,0.35625,1353.986946,4.925849e+05,17.21875,17.92500,0.183875,10.22500,Developing
162,171,Timor-Leste,64.75625,170.3750,2.3750,0.235333,21.187523,76.000000,85.0625,14.55000,...,1.646667,64.214286,0.10000,551.710649,4.601956e+05,10.52500,11.69375,0.517625,10.70000,Developing
86,88,Kiribati,65.15000,129.4375,0.0000,0.440667,77.126103,75.187500,0.0000,69.43125,...,5.728000,74.937500,0.10000,1175.292416,3.591994e+04,0.15625,0.13750,0.363750,11.69375,Developing
23,23,Brunei Darussalam,76.48750,67.0625,0.0000,0.378667,1276.879485,97.875000,7.3125,29.71875,...,2.820000,96.812500,0.10000,19744.808102,NaN,6.20000,5.67500,0.839375,14.10625,Developing
50,52,Egypt,71.50000,170.6250,56.2500,0.188667,0.000000,96.687500,1069.2500,49.26250,...,5.346000,96.687500,0.10000,NaN,NaN,3.12500,3.07500,0.647625,11.89375,Developing
76,78,Iran (Islamic Republic of),73.85625,107.0000,25.1875,0.016000,0.000000,97.750000,2828.2500,48.63125,...,6.290000,98.375000,0.10000,NaN,NaN,7.76875,7.95625,0.715000,12.65625,Developing
87,89,Kuwait,73.84375,83.2500,0.5000,0.021333,1719.840981,98.187500,15.3750,59.60625,...,2.809333,98.500000,0.10000,31914.378339,NaN,3.28125,3.15625,0.789500,13.72500,Developing
94,96,Libya,72.48750,139.6875,2.1875,0.010000,180.074989,96.312500,547.3125,54.83750,...,3.728000,96.500000,0.10000,4598.161975,NaN,5.60000,5.43125,0.740812,14.79375,Developing
139,148,Saudi Arabia,73.46875,52.1250,8.6250,0.074667,838.506400,96.812500,759.3125,55.31250,...,3.924667,96.875000,0.10000,10689.052946,NaN,7.35625,7.36875,0.782625,13.28750,Developing
148,157,Somalia,53.31875,316.7500,49.8750,0.010000,0.000000,42.000000,5494.0625,18.68750,...,NaN,29.312500,0.83750,297.473345,NaN,7.26875,7.08125,NaN,NaN,Developing
180,190,Yemen,63.86250,211.8125,39.3750,0.047333,0.000000,55.687500,2761.1875,33.48750,...,5.005333,72.625000,0.10000,NaN,NaN,13.83125,13.75000,0.475500,8.50625,Developing

### BMI

In [74]:

df2_bmi= df[df["BMI"].isnull()] 
display(df2_bmi)

#display(df[df["Alcohol"] < 0.5]) # Veamos los valores mas bajos

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
153,162,Sudan,61.825,240.3125,64.625,1.458,97.698443,72.363636,3108.00,NaN,...,5.695333,72.375,0.25000,1192.797953,1.804652e+07,NaN,NaN,0.441000,6.37500,Developing
150,159,South Sudan,53.875,346.3125,27.750,NaN,8.241077,31.000000,315.75,NaN,...,2.710000,47.000,3.69375,1092.233631,3.750827e+06,NaN,NaN,0.131688,1.53125,Developing

### Adult mortality

In [88]:
df2_Adult_Mortality= df[df["Adult Mortality"].isnull()] 
display(df2_Adult_Mortality)

display(df[df["Adult Mortality"] < 50]) # Veamos los valores mas bajos

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
166,175,Tunisia,74.35625,18.7500,3.2500,1.310667,366.741260,96.75,33.1875,48.25625,...,6.052667,97.6875,0.1,3044.081488,3.274493e+06,6.40625,6.3375,0.692625,14.05625,Developing
1,1,Albania,75.15625,45.0625,0.6875,4.848750,193.259091,98.00,53.3750,49.06875,...,5.945625,98.0625,0.1,2119.726679,6.969116e+05,1.61875,1.7000,0.709875,12.13750,Developing
73,75,Iceland,82.44375,49.3750,0.0000,7.466000,4991.595308,NaN,0.0000,51.07500,...,8.546000,89.7500,0.1,30159.502908,1.861776e+05,0.95625,0.9000,0.885312,18.15625,Developed

### GDP

In [94]:

df[df["GDP"].isnull()] 
display(df2_Adult_Mortality)

display(df[df["GDP"] < 1000]) # Veamos los valores mas bajos

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
74,76,India,65.41875,146.5625,1366.6875,1.942000,33.242621,35.000000,46454.1875,14.79375,...,4.358667,67.062500,0.25625,837.920051,4.214677e+08,27.10000,27.94375,0.549500,9.98125,Developing
121,127,Pakistan,64.50000,154.0000,367.9375,0.026000,26.120391,67.307692,3842.3125,18.31250,...,2.904000,70.875000,0.10000,666.111052,6.902796e+07,15.08750,15.51250,0.500875,6.71875,Developing
55,57,Ethiopia,59.11250,285.5625,187.7500,1.074667,32.482109,64.111111,3948.3750,14.80000,...,4.901333,46.187500,2.72500,264.970950,4.395076e+07,8.38125,6.47500,0.346125,6.80000,Developing
12,12,Bangladesh,69.30000,141.3750,153.6250,0.010000,32.320972,77.615385,4649.9375,12.87500,...,2.854667,92.750000,0.10000,443.561481,4.298516e+07,13.77500,14.33125,0.517875,8.69375,Developing
111,115,Myanmar,64.20000,154.3125,56.6250,0.351333,12.824564,65.461538,914.5000,17.12500,...,2.012667,72.375000,0.47500,616.184357,2.601570e+07,13.13125,13.42500,0.488250,8.32500,Developing
85,87,Kenya,57.48125,348.5625,65.8750,1.602000,61.655464,74.571429,2643.8750,15.56250,...,4.668667,70.500000,8.76250,716.770068,1.682679e+07,8.40000,8.28750,0.497125,9.96875,Developing
169,179,Uganda,55.70625,300.1875,89.6875,8.050667,47.692108,63.428571,12394.6250,15.52500,...,8.542000,64.875000,7.65000,421.048496,1.554059e+07,6.26250,6.25625,0.445312,10.59375,Developing
113,118,Nepal,66.48125,147.2500,29.1250,0.190000,40.162064,65.384615,4663.5625,15.17500,...,5.889333,73.687500,0.15625,395.328468,1.463376e+07,17.13125,17.66875,0.494375,10.43125,Developing
110,114,Mozambique,53.39375,226.2500,74.5625,1.266000,37.034152,67.866667,4735.0000,16.14375,...,5.972667,64.062500,11.38750,365.068238,1.172975e+07,3.80625,3.71875,0.360812,7.98750,Developing
63,65,Ghana,60.86250,180.0625,40.3125,1.268667,77.249122,67.500000,3419.7500,21.72500,...,4.328667,73.875000,2.28750,834.376101,1.153478e+07,7.65000,7.57500,0.525875,9.51250,Developing
117,122,Niger,56.98125,232.4375,52.8125,0.091333,19.099369,60.571429,15467.1250,16.36250,...,6.577333,52.312500,1.16250,259.782441,1.124072e+07,9.02500,8.91250,0.298125,4.01875,Developing
97,99,Madagascar,62.74375,228.8125,34.9375,0.820000,43.253157,63.357143,9576.1875,14.76875,...,4.710667,61.250000,0.52500,314.041330,1.095027e+07,7.86875,7.78125,0.456688,9.33125,Developing
0,0,Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,...,8.252500,52.312500,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250,Developing
29,29,Cameroon,54.01875,294.8750,54.9375,4.141333,44.462300,76.818182,2979.2500,23.61875,...,4.719333,69.437500,6.21250,781.016004,9.967292e+06,6.55000,6.60625,0.470000,8.90625,Developing
182,192,Zimbabwe,50.48750,462.3750,26.5625,4.482000,20.364271,70.562500,923.0000,25.13750,...,6.158667,75.187500,23.26250,410.980194,8.021343e+06,7.01250,6.98750,0.439125,9.82500,Developing
28,28,Cambodia,64.34375,196.3750,16.7500,1.486000,33.796561,79.600000,1880.8125,15.36250,...,5.740667,72.062500,1.02500,466.196878,7.145967e+06,10.14375,10.88125,0.491938,9.87500,Developing
98,100,Malawi,49.89375,424.4375,37.1250,0.919333,25.849706,89.571429,7559.4375,16.78125,...,6.658667,83.625000,16.68125,237.504042,6.700263e+06,7.11875,6.98750,0.410625,10.23125,Developing
181,191,Zambia,53.90625,354.3125,33.4375,2.239333,89.650407,69.818182,6563.8125,17.45000,...,5.824000,74.250000,11.93125,811.811841,6.260246e+06,6.88125,6.76250,0.498437,11.21250,Developing
25,25,Burkina Faso,55.64375,252.5000,44.7500,4.241333,52.045581,81.100000,5091.7500,15.50000,...,6.038000,77.312500,1.83750,410.372034,6.143695e+06,7.41875,6.98125,0.229687,5.40625,Developing
101,103,Mali,54.93750,202.1250,55.9375,0.438000,48.981177,67.153846,823.3125,17.21250,...,6.522667,67.000000,1.82500,530.512170,5.781493e+06,7.07500,6.35000,0.365187,6.43125,Developing
140,149,Senegal,62.56875,174.1875,22.3125,0.309333,21.486426,86.416667,3248.7500,18.44375,...,4.938000,78.312500,0.53125,274.611166,5.413843e+06,8.09375,7.98750,0.432563,7.12500,Developing
123,130,Papua New Guinea,61.68125,266.5625,10.6250,0.580667,75.370482,57.000000,2349.8750,40.78750,...,5.462667,68.375000,1.16875,758.097616,4.813446e+06,1.40625,1.36250,0.466187,8.54375,Developing
159,168,Tajikistan,66.65625,177.5625,10.6875,0.330667,17.277192,84.428571,208.1875,33.11250,...,5.648000,89.250000,0.25625,335.841725,4.751355e+06,3.80625,3.85000,0.583812,10.68125,Developing
67,69,Guinea,56.01250,259.8750,30.8125,0.164667,15.891283,58.666667,1522.0000,17.46875,...,4.009333,47.875000,2.19375,279.464798,4.252799e+06,7.64375,7.62500,0.364750,7.17500,Developing
32,32,Chad,50.38750,227.7500,44.8750,0.411333,32.277320,29.875000,4687.7500,16.31875,...,4.379333,26.812500,4.33750,484.791694,4.114092e+06,7.14375,7.04375,0.316625,6.08750,Developing
17,17,Benin,57.56875,269.3750,25.0000,1.000000,43.991956,62.571429,1116.8750,19.61250,...,4.636000,67.937500,1.70625,561.167968,3.942979e+06,8.25000,8.13750,0.438063,8.85000,Developing
26,26,Burundi,55.53750,291.5625,23.2500,4.103333,15.335498,93.333333,1349.5000,15.31250,...,7.089333,85.750000,3.08750,137.815321,3.915447e+06,8.01875,8.01250,0.327875,7.48125,Developing
70,72,Haiti,59.86875,168.3125,17.0000,5.486000,36.129200,40.666667,71.9375,39.27500,...,6.183333,48.000000,2.73750,434.360128,3.852658e+06,4.24375,4.25625,0.462062,8.45000,Developing
134,141,Rwanda,59.31250,246.8125,20.7500,5.636000,20.191353,96.000000,505.8750,14.75000,...,6.350667,89.375000,4.42500,300.018017,3.735507e+06,6.63125,6.65625,0.417687,9.28750,Developing
163,172,Togo,56.66250,311.3125,14.1875,0.947333,23.705604,76.625000,532.5000,17.99375,...,5.243333,74.312500,3.86250,317.204092,3.722046e+06,7.86875,7.73750,0.445937,10.65000,Developing
143,152,Sierra Leone,46.11250,357.8125,27.5625,3.154667,29.105579,83.444444,673.8750,18.30625,...,9.218000,72.125000,1.51875,271.505561,3.336265e+06,7.68125,7.10000,0.361812,8.23125,Developing
93,95,Liberia,57.52500,246.9375,10.6875,3.258000,25.271707,49.125000,705.3125,19.98750,...,6.844000,40.687500,2.28125,246.281748,2.788943e+06,7.83750,7.76250,0.389438,9.86875,Developing
53,55,Eritrea,60.68750,308.6250,6.3125,0.608000,6.436069,86.428571,175.0000,15.15625,...,3.468667,82.250000,1.21250,259.395356,2.071919e+06,8.08125,8.01875,0.255312,4.92500,Developing
31,31,Central African Republic,48.51250,333.0625,16.5000,1.231333,40.905543,42.571429,699.4375,17.08750,...,4.039333,42.437500,8.98125,363.055905,2.016546e+06,7.10625,7.08750,0.335500,6.23750,Developing
116,121,Nicaragua,73.45000,162.3750,3.0625,3.596667,183.662908,91.875000,0.0000,42.68125,...,6.730667,91.875000,0.22500,957.903971,1.999847e+06,1.96875,1.87500,0.603500,11.11250,Developing
103,106,Mauritania,62.80000,159.9375,7.8125,0.013333,31.703147,57.636364,815.9375,22.47500,...,3.935333,60.125000,1.18750,635.049609,1.262286e+06,6.48125,6.81875,0.473062,7.31875,Developing
92,94,Lesotho,48.78125,550.0625,4.5000,2.086667,82.118913,73.230769,266.6875,25.23750,...,7.607333,79.437500,22.96875,794.523010,1.200528e+06,7.18750,7.06875,0.456813,10.65625,Developing
68,70,Guinea-Bissau,55.36875,158.3125,4.5625,2.260000,21.961645,75.000000,331.3125,19.43125,...,5.870667,65.250000,4.81875,384.214931,9.818832e+05,7.50000,7.38125,0.254188,8.28750,Developing
176,186,Uzbekistan,68.03125,184.8125,21.9375,1.608667,44.373450,95.642857,208.4375,34.80625,...,5.638000,98.437500,0.20625,651.092359,9.036317e+05,3.14375,3.17500,0.603000,11.64375,Developing
47,48,Djibouti,60.75625,274.6875,1.4375,0.764000,98.838448,78.000000,113.8750,26.25000,...,7.070667,75.125000,3.28125,897.999871,6.341162e+05,5.84375,5.70000,0.418438,4.75000,Developing
36,36,Comoros,61.58125,240.9375,1.6875,0.134667,47.731458,76.461538,62.6250,18.25625,...,4.832000,66.937500,0.28125,630.384334,5.322007e+05,7.27500,7.16250,0.324625,9.95625,Developing
162,171,Timor-Leste,64.75625,170.3750,2.3750,0.235333,21.187523,76.000000,85.0625,14.55000,...,1.646667,64.214286,0.10000,551.710649,4.601956e+05,10.52500,11.69375,0.517625,10.70000,Developing
147,156,Solomon Islands,67.71250,140.0625,0.0000,0.800667,112.027416,78.625000,0.0000,39.17500,...,6.267333,75.375000,0.10000,801.912383,3.290442e+05,1.24375,1.26250,0.480250,8.63750,Developing
138,147,Sao Tome and Principe,65.16250,164.9375,0.0000,4.191333,52.315094,83.307692,0.0000,20.85000,...,6.586000,95.125000,0.96875,771.034834,1.088539e+05,6.63750,6.55625,0.528250,10.25625,Developing
148,157,Somalia,53.31875,316.7500,49.8750,0.010000,0.000000,42.000000,5494.0625,18.68750,...,NaN,29.312500,0.83750,297.473345,NaN,7.26875,7.08125,NaN,NaN,Developing

### Hepatitis B

In [103]:

df2_hepatitisB = df[df["Hepatitis B"].isnull()] 
display(df2_hepatitisB['Country'])

df[df["Hepatitis B"] < 20]['Country']

157                                          Switzerland
46                                               Denmark
57                                               Finland
119                                               Norway
72                                               Hungary
146                                             Slovenia
73                                               Iceland
82                                                 Japan
172    United Kingdom of Great Britain and Northern I...
Name: Country, dtype: object

52    Equatorial Guinea
Name: Country, dtype: object

### HIV-AIDS, Measles, infath Deaths y under-five deaths

In [131]:

display(df[df["HIV-AIDS"].isnull()])
display(df[df["HIV-AIDS"] > 30])


display(df[df["Measles"].isnull()] )
display(df[df["Measles"] > 60000])


df2_infath_Deaths = df[df["infant deaths"].isnull()] 
display(df2_infath_Deaths)

df2_under_five_deaths = df[df["under-five deaths"].isnull()] 
display(df2_under_five_deaths)

display(df[df["infant deaths"] > 1000]["infant deaths"])

display(df[df["under-five deaths"] > 1000]["under-five deaths"])

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
155,164,Swaziland,51.325,339.0,2.625,4.463333,278.099713,76.0,49.125,25.5,...,7.308667,83.75,32.94375,2165.090838,457303.0625,6.475,6.63125,0.515688,10.35,Developing

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
34,34,China,74.2625,73.75,294.875,4.182,73.583763,80.4375,65857.9375,21.80625,...,4.918,93.3125,0.1,2345.303158,321812.0625,4.6375,4.025,0.66025,11.4375,Developing

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

74    1366.6875
Name: infant deaths, dtype: float64

74    1812.5
Name: under-five deaths, dtype: float64

### Income composition of resources

In [132]:

df[df["Income composition of resources"].isnull()]['Country'].tolist()

['Czechia',
 "C√¥te d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Republic of Korea',
 'Republic of Moldova',
 'Somalia',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America']

### Percentage expenditure

In [134]:
display(df[df["percentage expenditure"].isnull()])
display(df[df["percentage expenditure"] < 100])

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
74,76,India,65.41875,146.5625,1366.6875,1.942000,33.242621,35.000000,46454.1875,14.79375,...,4.358667,67.0625,0.25625,837.920051,4.214677e+08,27.10000,27.94375,0.549500,9.98125,Developing
75,77,Indonesia,67.55625,166.5625,151.1875,0.068667,83.768316,73.562500,16244.9375,19.95625,...,2.663333,72.3750,0.20000,1669.116783,1.165553e+08,3.41875,3.94375,0.641437,11.61250,Developing
118,123,Nigeria,51.35625,248.5000,535.6875,8.646667,85.444275,42.909091,51653.9375,19.75000,...,3.710667,39.3125,4.83125,1360.139877,7.087700e+07,10.41875,10.36875,0.367375,9.00000,Developing
121,127,Pakistan,64.50000,154.0000,367.9375,0.026000,26.120391,67.307692,3842.3125,18.31250,...,2.904000,70.8750,0.10000,666.111052,6.902796e+07,15.08750,15.51250,0.500875,6.71875,Developing
55,57,Ethiopia,59.11250,285.5625,187.7500,1.074667,32.482109,64.111111,3948.3750,14.80000,...,4.901333,46.1875,2.72500,264.970950,4.395076e+07,8.38125,6.47500,0.346125,6.80000,Developing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,183,United Republic of Tanzania,56.00625,304.4375,95.2500,3.582667,0.000000,73.500000,3348.5625,17.31875,...,4.701333,74.6875,7.27500,NaN,NaN,7.42500,7.35625,NaN,NaN,Developing
174,184,United States of America,78.06250,58.1875,26.1875,8.579333,0.000000,81.375000,130.6250,58.45000,...,15.863333,95.1250,0.10000,NaN,NaN,0.73125,0.60625,NaN,NaN,Developed
178,188,Venezuela (Bolivarian Republic of),73.38750,163.0000,9.3750,7.420000,0.000000,66.250000,165.0000,54.48750,...,4.998667,68.5000,0.10000,NaN,NaN,1.65000,1.56250,0.726812,12.78750,Developing
179,189,Viet Nam,74.77500,126.5625,29.1875,3.087333,0.000000,87.538462,4232.9375,11.18750,...,5.977333,91.7500,0.14375,NaN,NaN,14.92500,15.62500,0.627063,11.51250,Developing
180,190,Yemen,63.86250,211.8125,39.3750,0.047333,0.000000,55.687500,2761.1875,33.48750,...,5.005333,72.6250,0.10000,NaN,NaN,13.83125,13.75000,0.475500,8.50625,Developing

In [145]:
display(df[df["Polio"].isnull()])

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

Empty DataFrame
Columns: [Unnamed: 0, Country, Life expectancy, Adult Mortality, infant deaths, Alcohol, percentage expenditure, Hepatitis B, Measles, BMI, under-five deaths, Polio, Total expenditure, Diphtheria, HIV-AIDS, GDP, Population, thinness  1-19 years, thinness 5-9 years, Income composition of resources, Schooling, Status]
Index: []

[0 rows x 22 columns]

### Population

In [151]:
print(df[df["Population"].isnull()]['Country'].tolist())
display(df[df["Country"] == 'China'])
display(df[df["Country"] == 'India'])

['Antigua and Barbuda', 'Bahamas', 'Bahrain', 'Barbados', 'Bolivia (Plurinational State of)', 'Brunei Darussalam', 'Congo', 'Cuba', 'Czechia', "C√¥te d'Ivoire", "Democratic People's Republic of Korea", 'Democratic Republic of the Congo', 'Egypt', 'Gambia', 'Grenada', 'Iran (Islamic Republic of)', 'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Libya', 'Micronesia (Federated States of)', 'New Zealand', 'Oman', 'Qatar', 'Republic of Korea', 'Republic of Moldova', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Saudi Arabia', 'Singapore', 'Slovakia', 'Somalia', 'The former Yugoslav republic of Macedonia', 'United Arab Emirates', 'United Kingdom of Great Britain and Northern Ireland', 'United Republic of Tanzania', 'United States of America', 'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen']

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
34,34,China,74.2625,73.75,294.875,4.182,73.583763,80.4375,65857.9375,21.80625,...,4.918,93.3125,0.1,2345.303158,321812.0625,4.6375,4.025,0.66025,11.4375,Developing

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
74,76,India,65.41875,146.5625,1366.6875,1.942,33.242621,35.0,46454.1875,14.79375,...,4.358667,67.0625,0.25625,837.920051,4.214677e+08,27.1,27.94375,0.5495,9.98125,Developing

### Schooling

In [157]:
# df[df["Schooling"].isnull()]['Country'].tolist()
display(df[df["Schooling"] < 2])

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV-AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
150,159,South Sudan,53.875,346.3125,27.75,NaN,8.241077,31.0,315.75,NaN,...,2.71,47.0,3.69375,1092.233631,3750827.125,NaN,NaN,0.131688,1.53125,Developing

### thinness 5-9 years y thinness 1-19 years

In [28]:
display(df[df["thinness 5-9 years"].isnull()])
df2 = df[df["thinness 5-9 years"] < 18]
df2 = df2[df2["thinness 5-9 years"] > 13]
print(df2['Country'].tolist())
display(df2)

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
150,159,South Sudan,53.875,346.3125,27.750,NaN,8.241077,31.000000,315.75,NaN,...,2.710000,47.000,3.69375,1092.233631,3.750827e+06,NaN,NaN,0.131688,1.53125,Developing
153,162,Sudan,61.825,240.3125,64.625,1.458,97.698443,72.363636,3108.00,NaN,...,5.695333,72.375,0.25000,1192.797953,1.804652e+07,NaN,NaN,0.441000,6.37500,Developing

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Myanmar', 'Nepal', 'Pakistan', 'Sri Lanka', 'Viet Nam', 'Yemen']

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
0,0,Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,...,8.252500,52.3125,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250,Developing
12,12,Bangladesh,69.30000,141.3750,153.6250,0.010000,32.320972,77.615385,4649.9375,12.87500,...,2.854667,92.7500,0.10000,443.561481,4.298516e+07,13.77500,14.33125,0.517875,8.69375,Developing
18,18,Bhutan,66.16250,230.2500,0.6875,0.278667,134.764070,94.125000,80.2500,17.58125,...,5.346000,93.8750,0.35625,1353.986946,4.925849e+05,17.21875,17.92500,0.183875,10.22500,Developing
100,102,Maldives,75.53750,83.1875,0.0000,1.407333,626.499821,97.875000,157.8750,19.29375,...,8.236667,97.8750,0.10000,3818.296962,3.334250e+03,14.19375,14.28750,0.638625,12.00000,Developing
111,115,Myanmar,64.20000,154.3125,56.6250,0.351333,12.824564,65.461538,914.5000,17.12500,...,2.012667,72.3750,0.47500,616.184357,2.601570e+07,13.13125,13.42500,0.488250,8.32500,Developing
113,118,Nepal,66.48125,147.2500,29.1250,0.190000,40.162064,65.384615,4663.5625,15.17500,...,5.889333,73.6875,0.15625,395.328468,1.463376e+07,17.13125,17.66875,0.494375,10.43125,Developing
121,127,Pakistan,64.50000,154.0000,367.9375,0.026000,26.120391,67.307692,3842.3125,18.31250,...,2.904000,70.8750,0.10000,666.111052,6.902796e+07,15.08750,15.51250,0.500875,6.71875,Developing
152,161,Sri Lanka,73.40000,144.3750,4.0000,2.096000,59.753601,90.615385,1420.4375,17.27500,...,3.771333,98.4375,0.10000,1040.110190,1.084481e+04,15.32500,15.36875,0.725187,13.21875,Developing
179,189,Viet Nam,74.77500,126.5625,29.1875,3.087333,0.000000,87.538462,4232.9375,11.18750,...,5.977333,91.7500,0.14375,NaN,NaN,14.92500,15.62500,0.627063,11.51250,Developing
180,190,Yemen,63.86250,211.8125,39.3750,0.047333,0.000000,55.687500,2761.1875,33.48750,...,5.005333,72.6250,0.10000,NaN,NaN,13.83125,13.75000,0.475500,8.50625,Developing

In [29]:

display(df[df['thinness  1-19 years'].isnull()])
df2 = df[df['thinness  1-19 years'] < 18]
df2 = df2[df2['thinness  1-19 years'] > 13]
print(df2['Country'].tolist())
display(df2)

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
150,159,South Sudan,53.875,346.3125,27.750,NaN,8.241077,31.000000,315.75,NaN,...,2.710000,47.000,3.69375,1092.233631,3.750827e+06,NaN,NaN,0.131688,1.53125,Developing
153,162,Sudan,61.825,240.3125,64.625,1.458,97.698443,72.363636,3108.00,NaN,...,5.695333,72.375,0.25000,1192.797953,1.804652e+07,NaN,NaN,0.441000,6.37500,Developing

['Afghanistan', 'Bangladesh', 'Bhutan', 'Maldives', 'Myanmar', 'Nepal', 'Pakistan', 'Sri Lanka', 'Viet Nam', 'Yemen']

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
0,0,Afghanistan,58.19375,269.0625,78.2500,0.014375,34.960110,64.562500,2362.2500,15.51875,...,8.252500,52.3125,0.10000,340.015425,9.972260e+06,16.58125,15.58125,0.415375,8.21250,Developing
12,12,Bangladesh,69.30000,141.3750,153.6250,0.010000,32.320972,77.615385,4649.9375,12.87500,...,2.854667,92.7500,0.10000,443.561481,4.298516e+07,13.77500,14.33125,0.517875,8.69375,Developing
18,18,Bhutan,66.16250,230.2500,0.6875,0.278667,134.764070,94.125000,80.2500,17.58125,...,5.346000,93.8750,0.35625,1353.986946,4.925849e+05,17.21875,17.92500,0.183875,10.22500,Developing
100,102,Maldives,75.53750,83.1875,0.0000,1.407333,626.499821,97.875000,157.8750,19.29375,...,8.236667,97.8750,0.10000,3818.296962,3.334250e+03,14.19375,14.28750,0.638625,12.00000,Developing
111,115,Myanmar,64.20000,154.3125,56.6250,0.351333,12.824564,65.461538,914.5000,17.12500,...,2.012667,72.3750,0.47500,616.184357,2.601570e+07,13.13125,13.42500,0.488250,8.32500,Developing
113,118,Nepal,66.48125,147.2500,29.1250,0.190000,40.162064,65.384615,4663.5625,15.17500,...,5.889333,73.6875,0.15625,395.328468,1.463376e+07,17.13125,17.66875,0.494375,10.43125,Developing
121,127,Pakistan,64.50000,154.0000,367.9375,0.026000,26.120391,67.307692,3842.3125,18.31250,...,2.904000,70.8750,0.10000,666.111052,6.902796e+07,15.08750,15.51250,0.500875,6.71875,Developing
152,161,Sri Lanka,73.40000,144.3750,4.0000,2.096000,59.753601,90.615385,1420.4375,17.27500,...,3.771333,98.4375,0.10000,1040.110190,1.084481e+04,15.32500,15.36875,0.725187,13.21875,Developing
179,189,Viet Nam,74.77500,126.5625,29.1875,3.087333,0.000000,87.538462,4232.9375,11.18750,...,5.977333,91.7500,0.14375,NaN,NaN,14.92500,15.62500,0.627063,11.51250,Developing
180,190,Yemen,63.86250,211.8125,39.3750,0.047333,0.000000,55.687500,2761.1875,33.48750,...,5.005333,72.6250,0.10000,NaN,NaN,13.83125,13.75000,0.475500,8.50625,Developing

### Total expenditure

In [44]:

display(df[df['Total expenditure'].isnull()])
df2 = df[df['Total expenditure'] < 2.8]
print(df2['Life expectancy'].tolist())
df3 = df[df['Total expenditure'] > 9]
print(df3['Life expectancy'].tolist())
display(df2)
display(df3)

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
44,45,Democratic People's Republic of Korea,69.19375,160.8125,9.9375,3.00,0.0,88.846154,222.5625,25.6250,...,NaN,83.2500,0.1000,NaN,NaN,5.43750,5.45000,NaN,NaN,Developing
148,157,Somalia,53.31875,316.7500,49.8750,0.01,0.0,42.000000,5494.0625,18.6875,...,NaN,29.3125,0.8375,297.473345,NaN,7.26875,7.08125,NaN,NaN,Developing

[67.55625, 64.2, 77.03125, 53.875, 64.75625]
[81.21875, 68.2, 81.79375, 46.1125, 82.51875, 78.06250000000001]

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
75,77,Indonesia,67.55625,166.5625,151.1875,0.068667,83.768316,73.562500,16244.9375,19.95625,...,2.663333,72.375000,0.20000,1669.116783,1.165553e+08,3.41875,3.94375,0.641437,11.61250,Developing
111,115,Myanmar,64.20000,154.3125,56.6250,0.351333,12.824564,65.461538,914.5000,17.12500,...,2.012667,72.375000,0.47500,616.184357,2.601570e+07,13.13125,13.42500,0.488250,8.32500,Developing
129,136,Qatar,77.03125,75.3750,0.0000,1.081333,2466.855005,95.062500,96.2500,65.65000,...,2.601333,89.687500,0.10000,40748.444104,NaN,4.95625,4.58750,0.828375,12.85000,Developing
150,159,South Sudan,53.87500,346.3125,27.7500,NaN,8.241077,31.000000,315.7500,NaN,...,2.710000,47.000000,3.69375,1092.233631,3.750827e+06,NaN,NaN,0.131688,1.53125,Developing
162,171,Timor-Leste,64.75625,170.3750,2.3750,0.235333,21.187523,76.000000,85.0625,14.55000,...,1.646667,64.214286,0.10000,551.710649,4.601956e+05,10.52500,11.69375,0.517625,10.70000,Developing

,Unnamed: 0,Country,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status
64,66,Greece,81.21875,73.6250,0.1875,8.803333,1759.246820,88.937500,24.8750,58.68125,...,9.038667,96.6250,0.10000,16454.235870,1.550208e+06,0.81250,0.73125,0.842313,15.93750,Developing
106,109,Micronesia (Federated States of),68.20000,154.0625,0.0000,2.145333,0.000000,75.437500,8.7500,65.15000,...,11.056000,81.8750,0.10000,NaN,NaN,0.21250,0.20625,0.586812,10.40000,Developing
119,125,Norway,81.79375,66.2500,0.0000,6.234375,4658.813918,NaN,6.3125,50.81250,...,9.086000,87.9375,0.10000,27434.946928,2.614432e+06,0.76250,0.70000,0.931437,17.46875,Developed
143,152,Sierra Leone,46.11250,357.8125,27.5625,3.154667,29.105579,83.444444,673.8750,18.30625,...,9.218000,72.1250,1.51875,271.505561,3.336265e+06,7.68125,7.10000,0.361812,8.23125,Developing
156,165,Sweden,82.51875,59.1875,0.0000,6.926667,4438.163154,59.200000,18.9375,56.25000,...,9.932667,98.3125,0.10000,29334.990639,5.514868e+06,1.35000,1.30625,0.893125,15.86875,Developed
174,184,United States of America,78.06250,58.1875,26.1875,8.579333,0.000000,81.375000,130.6250,58.45000,...,15.863333,95.1250,0.10000,NaN,NaN,0.73125,0.60625,NaN,NaN,Developed